* {
  box-sizing: border-box;
  background-color: #121212;
  color: #dce6f1;
}

body {
  font-family: "Roboto", sans-serif;
  
}

header {
  display: flex;
  max-height: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  display: flex;
  max-height: 100%;
  justify-content: center;
  text-align: center;
  /*margin-top: 100px;*/
  /*margin-bottom: 80px;*/
  font-size: 40px;
}

h2 {
  display: flex;
  max-height: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 30px;
}

p {
  display: flex;
  text-align: center; 
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
}

nav {
  display: flex;
  text-align: center; 
  justify-content: center;
}

button {
  display: flex;
  text-align: center; 
  justify-content: center;
  color: #0099CC;
  background: #dce6f1;
  border: 2px solid #0099CC;
  border-radius: 6px;
  padding: 16px 32px;  
  font-size: 16px;            
  -webkit-transition-duration: 0.4s; /* Safari */      
  transition-duration: 0.4s;      
  cursor: pointer;      
  text-decoration: none;      
  text-transform: uppercase;
  margin-top: 15px;
}
  
button:hover {
  background-color: #008CBA; 
  color: white;
}

div#question {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  text-align: center;
}

label {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*want to restyle radios but couldn't get it working
this hid the default 
/*input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}*/

/*img is good until it gets to large sizes*/
img {
  width: 100%;
  padding-bottom: 15px;
}
/* translates fine on med screens as is
@media screen and (min-width: 600px) {
}*/

@media screen and (min-width: 900px) {
  
  img{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50%;
    height: auto;
    margin-left: 25%;
  }

}